@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

table {
    border-spacing: 0;
    text-align: center;
}

td, th {
    border: 0.5px solid grey;
}